/* Wielki HERO na stronie głownej */

/* Kolory gradientu nałożonego na grafikę w hero */
$heroGradientStart: color($base a(0.35));
$heroGradientEnd: color($baseComp a(0.35));

/* Hero składa się z 3 nałożonych na siebie warstw - rozłożonych na gridzie
   i sterowanych przez z-index */
.big-hero {
    background-color: $baseMono;

    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;

    grid-template-rows: 120px min-content;
    @mixin atDFTablet {
        grid-template-rows: 60px min-content;
    }

    /* Pierwsza warstwa - obrazek */
    &__image {
        background-image: url("../img/big-hero.jpg");
        grid-column: 1/7;
        grid-row: 1/5;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        z-index: 1;
    }

    /* Druga warstwa - gradient z przerzoczystością */
    &__image2 {
        background-image: linear-gradient($heroGradientStart, $heroGradientEnd);
        grid-column: 1/7;
        grid-row: 1/5;
        background-size: cover;
        z-index: 2;
    }

    /* Trzecia warstwa - treść */
    &__content {
        z-index: 3;
        align-self: center;
        justify-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: color($base a(0));
        color: $textOnDark;
        grid-column: 2/6;
        grid-row: 2/3;
        padding: 30px;

        h1 {
            font-size: 4.5em;
            @mixin atDFTablet {
                font-size: 3em;
            }

            text-align: center;
            text-shadow: 2px 2px 2px color(#000 a(0.5));
        }

        p {
            font-size: 1.5em;
            text-shadow: 2px 2px 2px color(#000 a(0.5));

            @mixin atDFTablet {
                font-size: 1em;
                margin-bottom: 30px;
            }

            text-transform: uppercase;
            margin-bottom: 60px;
            //font-family: "Lato", sans-serif;
            font-family: $bigHeroFont;
            text-align: center;
        }
    }
}
