.big-section {
    /* do skalowania tekstu w środku */
    font-size: 15px;

    background-color: $baseMonoLight;
    color: $textOnLight;
    display: flex;

    padding: 60px;
    @mixin atDFTablet {
        padding: 30px;
    }
    @mixin atDFMobileLandscape {
        padding: 15px;
    }

    width: 100%;
    justify-content: center;

    margin-bottom: 30px;

    &__centered-container {
        /* border: 1px solid greenyellow; */
        align-self: center;
        width: 75%;

        /* margin-top: 30px; */
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        @mixin atDFTablet {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &--reversed {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &--whitebg {
        background-color: transparent;
    }

    &__contentbox {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__imagebox {
        width: 300px;
        height: 300px;
        align-self: center;

        @mixin atDFTablet {
            width: 250px;
            height: 250px;
        }
        @mixin atDFMobileLandscape {
            width: 200px;
            height: 200px;
        }
        @mixin atDFMobilePortrait {
            width: 150px;
            height: 150px;
        }
    }

    h1 {
        text-transform: uppercase;
        padding: 30px 0px 0px 0px;
        font-size: 2.5em;
        @mixin atDFTablet {
            font-size: 2.2em;
        }
        @mixin atDFMobileLandscape {
            font-size: 2em;
        }
        @mixin atDFMobilePortrait {
            font-size: 1.8em;
        }

        display: flex;
        color: $base;
        /* text-shadow: 2px 2px 2px color(#000 a(0.5)); */
    }

    p {
        margin: 0;
        padding: 30px 60px 0px 60px;

        font-size: 1.5em;
        @mixin atDFTablet {
            font-size: 1.4em;
            padding: 30px 0px 0px 0px;
        }
        @mixin atDFMobileLandscape {
            font-size: 1.3em;
            padding: 30px 0px 0px 0px;
        }
        @mixin atDFMobilePortrait {
            font-size: 1em;
            padding: 30px 0px 0px 0px;
        }

        .blue {
            color: $base;
        }

        .orange {
            color: $baseComp;
        }
    }
}

.bg--resp {
    background-image: url("../img/resp.baseCompLight.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg--seo {
    background-image: url("../img/seo.baseCompLight.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg--opt {
    background-image: url("../img/opt.baseCompLight.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg--wp {
    background-image: url("../img/wp.baseCompLight.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg--presta {
    background-image: url("../img/woo_presta.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg--szabl {
    background-image: url("../img/szabl.baseCompLight.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg--wizyt {
    background-image: url("../img/wizyt.baseCompLight.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg--sklep {
    background-image: url("../img/sklep.baseCompLight.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg--cena {
    background-image: url("../img/cena.baseCompLight.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg--zmiany {
    background-image: url("../img/zmiany.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg--prog {
    background-image: url("../img/progr.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg--facjata {
    background-image: url("../img/facjata.jpg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg--omnie-wyksztalcenie {
    background-image: url("../img/wyksztalcenie.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg--omnie-doswiadczenie {
    background-image: url("../img/doswiadczenie.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg--omnie-podejscie {
    background-image: url("../img/podejscie.svg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
