.teasers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    align-content: flex-start;
    margin-bottom: 60px;

    @mixin atDFTablet {
        flex-direction: column;
    }

    .teaser {
        display: flex;
        width: 350px;
        height: auto;

        @mixin atDFTablet {
            width: 650px;
            margin-bottom: 30px;
        }

        @mixin atDFMobileLandscape {
            width: 75%;
        }

        margin-bottom: 20px;
        justify-content: space-between;

        @mixin addShadow;
        transition: all 0.3s linear;

        &:hover {
            transform: scale(1.05);
            .teaser__label {
                background-color: $baseComp;
            }

            .teaser__description {
                background-color: $baseCompLight;
            }
        }

        &__label {
            transition: all 0.3s linear;

            color: $textOnDark;
            background-color: $base;
            width: 50px;

            padding: 30px;

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &__content {
                margin: 20px;
            }

            &__icon {
                margin-bottom: 30px;
            }

            &__heading {
                text-transform: uppercase;
                font-family: "Lato", sans-serif;
                display: none;
            }
        }

        &__description {
            background-color: $baseMonoLight;
            padding: 25px;
            @mixin atDFMobilePortrait {
                padding: 15px;
            }

            p {
                font-size: 17px;

                @mixin atDFMobileLandscape {
                    font-size: 14px;
                }
            }
        }
    }
}
