*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4;
    color: gray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
/* 

font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;
    
*/
/* Breakpointy Desktop First */
/* breakpointy takie same jak w webflow */
.bpinfo p{
   position: fixed;
   z-index: 10;
 }
.bpinfo p::after
   {
     content: "Desktop";

   }
@media only screen and (max-width: 991px) {
.bpinfo p::after
   {
       content: "Tablet"

   }
    }
@media only screen and (max-width: 767px) {
.bpinfo p::after
   {
       content: "Mobile Landscape"

   }
    }
@media only screen and (max-width: 478px) {
.bpinfo p::after
   {
       content: "Mobile Portrait"

   }
    }
/* Tester na breakpointy MF */
/*
 .bpinfo2 p{
   position: fixed;
   z-index: 10;
   &::after
   {
     content: "none";

     @mixin atExtraSmall {
       content: "XS";
     }

     @mixin atSmall {
       content: "S";
     }

     @mixin atMedium {
       content: "M";
     }

     @mixin atLarge {
       content: "L";
     }

     @mixin atExtraLarge {
       content: "XL";
     }

   }
 }
 */
.hero-heading { 
    color: #bb5e71;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
.hero-heading {
        font-size: 1.5em
}
    }
@media only screen and (max-width: 478px) {
.hero-heading {
        font-size: 1.2em
}
    }
.hero-heading--white{
        color: white;
    }
/* START main-hero.css */
.main-hero{
    min-height: 70vh;
    width: 100%;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 15px;
    padding-left: 15px;
    padding-right: 15px;

}
@media only screen and (max-width: 991px) {
.main-hero{
        min-height: auto;
        grid-template-rows: 200px auto

}
    }
.main-hero__image {
        background-image: url("../img/main-hero.jpg");
        background-position: center center;
        background-size: cover;

        grid-column: 1/3;
        grid-row: 1/3;
    }
@media only screen and (max-width: 991px) {
.main-hero__image {
            grid-column: 1/3;
            grid-row: 1/2
    }
    }
.main-hero__content {

        grid-column: 2/3;
        grid-row: 2/3;
        padding: 30px;

        background-color: #FFF;
    }
@media only screen and (max-width: 991px) {
.main-hero__content {
            grid-column: 1/3;
            grid-row: 2/3;

            padding: 15px 0px 15px 0;
            text-align: center
    }
    }
.main-hero__content__heading{
            color: #bb5e71;
            font-family: 'Playfair Display', serif;
            margin-bottom: 20px;
        }
@media only screen and (max-width: 767px) {
.main-hero__content__heading{
                font-size: 1.5em
        }
    }
@media only screen and (max-width: 478px) {
.main-hero__content__heading{
                font-size: 1.2em
        }
    }
.main-hero__content__text{
            max-width: 600px;

            margin-bottom: 20px;
            font-size: 14px;
        }
@media only screen and (max-width: 991px) {
.main-hero__content__text{
                max-width: unset;
        }
    }
.main-hero__content__button{
            background-color: #bb5e71;
            border-radius: 3px;
            color: #FFF;
            display: inline-block;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 20px;
            padding-right: 20px;
            text-decoration: none;
            margin-right: 10px;
        }
@media only screen and (max-width: 478px) {
.main-hero__content__button{
                display: block;
                margin: 0px 0px 10px 0px
        }
    }
/* END main-hero.css */
/* START navigation.css */
.navigation{
    background-color: #FFF;
    width: 100%;
    padding: 5px 0px 5px 0px;

    /* Latajace menu na desktopie */
    position: fixed;
    box-shadow: 1px 2px 2px rgba(0,0,0, .2);
}
/* Zwykłe na tablecie i niżej */
@media only screen and (max-width: 991px) {
.navigation{
        position: static;
        box-shadow: none;
        margin-bottom: 3px
}
    }
.navigation__narrow_container
    {
        margin: 0 auto;
        max-width: 1200px;
        min-width: 250px;
        display: flex;

        padding-right: 20px;
    }
.navigation__narrow_container .logo{
            flex: 1;
            height: 30px;
            margin: 10px;
            transition: all .2s;
            transform: scale(1);
        }
.navigation__narrow_container .logo:hover{
                transform: scale(1.1);
            }
.navigation__narrow_container .navbar
        {
            position: static;
            flex: 4;
            visibility: visible;
            opacity: 1;
        }
.navigation__narrow_container .navbar ul {
                flex-direction: row;
                padding-right: 30px;
                display: flex;
                justify-content: flex-end;
                height: 100%;
                align-items: center;
            }
@media only screen and (max-width: 767px) {
.navigation__narrow_container .navbar
        {
                position: absolute;
                background-color: #FFF;
                opacity: 0;
                top: 60px;
                left: 0;
                right: 0;
                visibility: hidden;
                transition: all .2s linear
        }

                .navigation__narrow_container .navbar ul
                {
                    flex-direction: column;
                }
    }
.navigation__narrow_container .navbar li {
                /* top right bottom left*/
                padding: 10px 10px 10px 30px;
                font-size: 1.4;
            }
@media only screen and (max-width: 767px) {
.navigation__narrow_container .navbar li {
                    padding: 5px 0px 5px 0px    
            }
    }
.navigation__narrow_container .navbar--active{
                visibility: visible;
                opacity: 0.9;
            }
.navigation__narrow_container .burger-container {
            display: none;
            cursor: pointer;
            position: relative;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 20px;
            margin-right: 20px;

            position: absolute;
            right: 0;
            top: 25px;
        }
.navigation__narrow_container .burger-container i {
                flex: 1;
            }
@media only screen and (max-width: 767px) {
.navigation__narrow_container .burger-container {
                display: block
        }
    }
.navigation__narrow_container ul a {
            display: block;
            height: 100%;
            text-decoration: none;
            color: black;
            border-bottom: 1px solid #FFF;
            transition: all .2s linear;
            color: gray;
            transform: scale(1);
        }
.navigation__narrow_container ul a:hover{
                border-bottom: 1px solid #bb5e71;
                color: black;
                transform: scale(1.2);
            }
.flex-container {
    padding: 10px;
    background-color: hotpink;
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    height: 300px;
    justify-content: flex-end;
}
.flex-item {
    background-color: lime;
    height: 100px;
    width: 100px;
    margin-left: 10px;
}
/* END navigation.css */
.testimonials-grid
{
    display: grid;
    
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    padding: 15px;
    grid-gap: 15px;
    background-size: cover;
}
@media only screen and (max-width: 767px) {
.testimonials-grid
{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr
}
    }
.testimonials-grid img {
        width: 100%;
    }
.testimonials-grid p {
        padding: 10px;
        font-size: 15px;
    }
@media only screen and (max-width: 767px) {
.testimonials-grid p {
            font-size: 13px
    }
    }
.testimonials-grid .testimonial
    {
        height: 150px;

        background-position: center center;
        background-size: cover;
    }
@media only screen and (max-width: 991px) {
.testimonials-grid .testimonial
    {
            height: 120px;
    }
    }
@media only screen and (max-width: 767px) {
.testimonials-grid .testimonial
    {
            height: 90px;
    }
    }
footer {
    margin-top: auto;
}
.footer-grid
{
    background-color: rgb(235, 235, 235);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 15px;

    max-width: 1200px;
    margin: 0 auto;

    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}
@media only screen and (max-width: 478px) {
.footer-grid
{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        
        padding-top: 30px;
        padding-bottom: 30px
}
    }
.footer-grid__logo
    {
        height: 30px;
        margin: 10px;
    }
.footer-grid__item__link{
            display: block;
            margin-bottom: 5px;
            color: gray;

        }
@media only screen and (max-width: 767px) {
.footer-grid__item__link{
                font-size: 13px

        }
    }
.footer-grid__item p {
            font-size: 16px;

            color: gray;
            margin-bottom: 5px;
        }
@media only screen and (max-width: 767px) {
.footer-grid__item p {
                font-size: 13px
        }
    }
.footer-grid__item__button{
            background-color: #bb5e71;
            border-radius: 3px;
            color: #FFF;
            display: inline-block;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 20px;
            padding-right: 20px;
            text-decoration: none;
            margin-right: 10px;
            margin-top: 5px;
            
        }
@media only screen and (max-width: 478px) {
.footer-grid__item__button{
                text-align: center;
                display: block;
                margin-right: 0px
            
        }
    }
.item-logo
{
    text-align: right;
}
.item-links
{
    text-align: right;
    grid-column: 1/2;
    grid-row: 2/3;
}
.item-address 
{
    text-align: left;
    grid-column: 2/3;
    grid-row: 2/3;
}
@media only screen and (max-width: 478px) {

    .item-logo, .item-links, .item-address{
        text-align: center;
    }

    .item-logo
    {
        grid-column: unset;
        grid-row: unset;
    }

    .item-links
    {
        grid-column: unset;
        grid-row: unset;
    }

    .item-address 
    {
        grid-column: unset;
        grid-row: unset;
    }
    }
.hero-section{
    padding-top: 70px;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 60px;
    color: white;
}
@media only screen and (max-width: 991px) {
.hero-section{
        height: 400px;
        padding: 30px
}
    }
@media only screen and (max-width: 767px) {
.hero-section{
        height: 250px
}
    }
@media only screen and (max-width: 478px) {
.hero-section{
        height: 200px;
        padding: 15px
}
    }
.hero-section p {
        max-width: 500px;
    }
.hero-section--portfolio
    {
        background-image: linear-gradient(to right, rgba(69, 47, 17, 0.95), rgba(255, 255, 255, 0.1)),
         url("../img/p-hero.jpg");
                          
        background-size: cover;
    }
.client-projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    padding: 60px;
}
@media only screen and (max-width: 991px) {
.client-projects-grid{
        padding: 30px
}
    }
@media only screen and (max-width: 767px) {
.client-projects-grid{
        grid-template-columns: 1fr
}
    }
@media only screen and (max-width: 478px) {
.client-projects-grid{
        padding: 15px
}
    }
.client-projects-grid__item__image {
            height: 150px;
            background-position: center center;
            background-size: cover; 
        }
.client-projects-grid__item__heading {
            font-family: 'Playfair Display', serif;
            font-size: 1.2em;
            margin-top: 10px;
            margin-bottom: 5px;
        }
.client-projects-grid__item__blurb {
            font-size: 14px;
        }
.client-projects-grid__item a {
            display: block;
            color: gray;
        }
@media only screen and (max-width: 767px) {
.client-projects-grid__item{
            margin-bottom: 20px

    }
    }
.client-project-hero {
    height: 50vh;
    background-size: cover;
    background-position: center center;
}
.project-details-grid{
    color: black;
    display: grid;
    
    -moz-column-gap: 15px;
    
         column-gap: 15px;
    row-gap: 10px;

    grid-template-columns: 3.5fr auto 0.75fr;
    grid-template-rows: auto auto auto 1fr;

    grid-template-areas: 
        "ar-heading ar-heading      ar-heading"
        "ar-info    ar-location     ar-location-value"
        "ar-info    ar-type         ar-type-value"
        "ar-info    ar-date         ar-date-value";

    padding: 60px;

}
.project-details-grid__info{
        grid-area: ar-info;
        max-width: 70%;

        }
.project-details-grid__info__short-details{
            margin-bottom: 15px;
        }
.project-details-grid__info__long-details{
            margin-bottom: 15px;
            }
.project-details-grid__info__testimonial{
            font-style: italic;
            font-weight: bold;
            margin-top: 10px;
            }
.project-details-grid .grid-cell{
        padding-bottom: 15px;
        font-size: 13px;

    }
.project-details-grid .grid-cell.label{
            padding-top: 1px;
            text-transform: uppercase;
            color: gray;
        }
.project-details-grid .grid-cell.value{
            font-weight: bold;
            color: black;
            padding-left: 5px;
        }
.project-details-grid__heading{
        grid-area: ar-heading;
        
        font-family: 'Playfair Display', serif;
        margin-bottom: 20px;
        }
.project-details-grid__location{
        grid-area: ar-location;
    }
.project-details-grid__location-value{
        grid-area: ar-location-value;
    }
.project-details-grid__type{
        grid-area: ar-type;
    }
.project-details-grid__type-value{
        grid-area: ar-type-value;
    }
.project-details-grid__date{
        grid-area: ar-date;
    }
.project-details-grid__date-value{
        grid-area: ar-date-value;
    }
.project-photos-grid{
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
}
.project-photos-grid__item{
        background-position: center center;
        background-size: cover;
        height: 400px;
        margin-bottom: 15px;
    }

 

