/* Plik z klasami narzędziowymi i definicją mixinow i breakpointów */

/* Breakpointy Desktop First
   takie same jak w webflow */
@define-mixin atDFTablet {
    @media only screen and (max-width: 991px) {
        @mixin-content;
    }
}

@define-mixin atDFMobileLandscape {
    @media only screen and (max-width: 767px) {
        @mixin-content;
    }
}

@define-mixin atDFMobilePortrait {
    @media only screen and (max-width: 478px) {
        @mixin-content;
    }
}

/* Helper pokazujący w jakim breakpoincie aktualne jesteśmy */
.bpinfo p {
    position: fixed;
    z-index: 10;
    left: 10px;
    bottom: 0px;

    &::after {
        /* Desktop */
        content: "D";
        color: rgba(0, 0, 0, 0.38);

        /* Tablet */
        @mixin atDFTablet {
            content: "T";
        }
        /* Mobile - Landscape */
        @mixin atDFMobileLandscape {
            content: "ML";
        }

        /* Mobile - Portrait */
        @mixin atDFMobilePortrait {
            content: "MP";
        }
    }
}

/* Dodanie cienia */
@define-mixin addShadow {
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.38);
}

/* Dodanie głębszego cienia */
@define-mixin addDeeperShadow {
    box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.38);
}

.admin-image {
    width: 100px;
    height: 100px;
    margin: 10px;
}
