@define-mixin atExtraSmall {
    @media only screen and (max-width: 600px) {
        /* Extra small devices (phones, 600px and down) */
        @mixin-content;
    }
}

@define-mixin atSmall {
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        @mixin-content;
    }
}

@define-mixin atExtraLarge {
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        @mixin-content;
    }
}

/* Breakpointy Desktop First */
/* breakpointy takie same jak w webflow */

@define-mixin atDFTablet {
    @media only screen and (max-width: 991px) {
        @mixin-content;
    }
}

@define-mixin atDFMobileLandscape {
    @media only screen and (max-width: 767px) {
        @mixin-content;
    }
}

@define-mixin atDFMobilePortrait {
    @media only screen and (max-width: 478px) {
        @mixin-content;
    }
}

.bpinfo p {
    position: fixed;
    z-index: 10;
    left: 0px;
    top: 0px;

    &::after {
        content: "Desktop";
        color: red;
        background-color: black;

        @mixin atDFTablet {
            content: "Tablet";
        }

        @mixin atDFMobileLandscape {
            content: "Mobile Landscape";
        }

        @mixin atDFMobilePortrait {
            content: "Mobile Portrait";
        }
    }
}

.auto-padded-box {
    padding: 60px;
    @mixin atDFTablet {
        padding: 30px;
    }

    @mixin atDFMobileLandscape {
        padding: 15px;
    }

    @mixin atDFMobilePortrait {
        padding: 5px;
    }
}

.higher-auto-padded-box {
    padding: 120px 60px 120px 60px;
    @mixin atDFTablet {
        padding: 60px 30px 60px 30px;
    }

    @mixin atDFMobileLandscape {
        padding: 30px 15px 30px 15px;
    }

    @mixin atDFMobilePortrait {
        padding: 10px 5px 10px 5px;
    }
}

@define-mixin addShadow {
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.38);
}

@define-mixin addDeeperShadow {
    box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.38);
}

@define-mixin debugCss {
    border-top: 1px dotted red;
    border-bottom: 1px dotted green;
    border-left: 1px dotted blue;
    border-right: 1px dotted fuchsia;
}

/* Tester na breakpointy MF */
/*
 .bpinfo2 p{
   position: fixed;
   z-index: 10;
   &::after
   {
     content: "none";

     @mixin atExtraSmall {
       content: "XS";
     }

     @mixin atSmall {
       content: "S";
     }

     @mixin atMedium {
       content: "M";
     }

     @mixin atLarge {
       content: "L";
     }

     @mixin atExtraLarge {
       content: "XL";
     }

   }
 }
 */
