/* Definicja zmiennych i palety kolorów */

/* Kolor bazowy i jego odcienie (niebieski)*/
$base: #2f8cd0;
$baseMono: #58a3da;
$baseMonoLight: #daeaf7;

/* Kolor komplementarny i jego odcienie (pomarańczowy) */
$baseComp: #d0732f;
$baseCompLight: #e8cbb6;

/* Kolor tekstu na jasnym tle */
$textOnLight: #333;

/* Kolor tekstu na ciemnym tle */
$textOnDark: #eee;

/* Tester kolorów palety - używany tylko w index-sandbox.htm */
.tests {
    display: flex;
    margin: 20px;
}

.tester {
    width: 50px;
    height: 50px;
    padding: 5px;

    &-base {
        background-color: $base;
    }

    &-base-mono {
        background-color: $baseMono;
    }

    &-base-mono-light {
        background-color: $baseMonoLight;
    }

    &-base-comp {
        background-color: $baseComp;
    }

    &-base-comp-light {
        background-color: $baseCompLight;
    }
}

.text-on-light {
    color: $textOnLight;
}

.text-on-dark {
    color: $textOnDark;
}
